<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="akka" level="${LOG_LEVEL:-WARN}"/>-->
    <logger name="com.zaxxer.hikari" level="${LOG_LEVEL:-WARN}"/>
    <logger name="com.couchbase.client" level="${LOG_LEVEL:-WARN}"/>
    <logger name="org.postgresql" level="${LOG_LEVEL:-WARN}"/>
    <logger name="com.betblocks.commons.postgres.BetBlocksPostgresDriver" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.compiler" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.relational" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.ast" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.jdbc" level="${LOG_LEVEL:-WARN}"/>
    <!--This one for show queries-->
    <!--<logger name="slick.jdbc.JdbcBackend.statement" level="${LOG_LEVEL:-DEBUG}"/>-->
    <logger name="slick.jdbc.JdbcBackend.statement" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.model" level="${LOG_LEVEL:-WARN}"/>
    <logger name="slick.basic" level="${LOG_LEVEL:-WARN}"/>
    <logger name="org.reflections" level="${LOG_LEVEL:-WARN}"/>
    <logger name="reactivemongo" level="WARN"/>
    <logger name="akka.http.impl" level="WARN"/>
    <logger name="akka.io.TcpOutgoingConnection" level="WARN"/>
    <logger name="akka.io.SimpleDnsManager" level="WARN"/>
    <logger name="akka.actor" level="INFO"/>
    <logger name="com.typesafe.sslconfig.ssl.DefaultHostnameVerifier" level="WARN"/>

    <root level="${LOG_LEVEL:-DEBUG}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>